*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #FF6A6A;
    color:#F8F8FD;
    height: 10vh;
    box-shadow: 0px 3px 5px rgba(83, 82, 82, 0.555);
}

.nav_left{
   display: flex;
   align-items: baseline;
}

.logo{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 30px;
    margin-left: 45px;
    cursor: pointer;
}

.nav_item{
    font-size: 20px;
    cursor: pointer;
}

.nav_right{
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.profile_pic{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-left: 10px;
}

.main{
   position: relative;
   width: 90%;
   margin: auto;
}

.main h1{
    text-align: center;
    letter-spacing: 15px;
    color: #4D4A4A;
    margin-top: 30px;
    text-shadow: 0px 5px 10px rgba(83, 82, 82, 0.555);
}

.main_heading2{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.main_heading2 p{
    font-size: 20px;
}

.main_heading2 button{
    padding: 10px 30px;
    cursor: pointer;
    background-color: #FF6A6A;
    color: #F8F8FD;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 3px 5px rgba(83, 82, 82, 0.555);
}

#art-conatiner{
    display: flex;
    flex-wrap: wrap;
    gap: 0 55px;
    /* justify-content: space-evenly; */
    width: 90%;
    padding-top: 20px;
    margin: auto;
}

.arts{
    width: 300px;
    height: 350px;
    cursor: pointer;
}

.art_img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(83, 82, 82, 0.555);
}
.art_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
}

.art_bottom div i{
    margin-left: 10px;
}

.heart{
    color: #fc3939;
    cursor: pointer;
}

.star{
    color: #ecd616;
}

.eye{
    color: rgba(0, 89, 255, 0.788);
}

#uploadForm{
    display: none;
    background-color:#FF6A6A;
    color: #F8F8F8;
    position: absolute;
    top:40%;
    left:40%;
    margin: auto;
    padding: 30px 20px;
    border-radius: 5px;
}

#uploadForm div{
    text-align: right;
    font-size: 40px;
    cursor: pointer;
}

#uploadForm p{
    font-size: 30px;
    padding: 10px 0;
}

#formBtn{
   margin-top: 20px;
}

#uploadForm input{
    width: 90%;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

#error{
    display: none;
    font-size: 10px;
    background-color: #F8F8FD;
    color: red;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}




/* display page styles */

.display_top{
    width: 98%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.display_top img{
    width: 700px;
    height: 530px;
    border-radius: 30px;
    box-shadow: 0px 0px 35px rgba(75, 74, 74, 0.815);
}

.art_des{
    width: 50%;
    margin-top: 30px;
}

.art_des h2{
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.art_des p{
    font-size: 22px;
    margin-top: 10px;
    font-weight: 300;
}

.art_des div{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding-top: 40px;
}

.art_des div i span{
    color: black;
    font-weight: 500;
}

.art_des button{
    width: 80%;
    color: #F8F8F8;
    padding: 10px 0;
    border: none;
    border-radius: 60px;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 0px 15px 40px rgba(83, 82, 82, 0.555);
}

#buyBtn{
    background-color: #7879F1;
}

#sponBtn{
    background-color: #EF5DA8;
}

.display_bottom{
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
}

.display_comments,.display_rating{
    width: 50%;
}
.display_comments p,.display_rating p{
    font-size: 30px;
    font-weight: bolder;
    color: hsla(0, 0%, 28%, 0.904);
}

.display_comments input{
  width: 600px;
  height: 40px;
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.display_bottom input::placeholder{
    color: #E4D7D7;
    font-size: 15px;
}

.display_comments button{
    height: 40px;
    width: 100px;
    margin-left: 20px;
    font-size: 20px;
    background-color: #FF6A6A;
    cursor: pointer;
    color: #F8F8F8;
    border: none;
    box-shadow: 0px 3px 5px rgba(83, 82, 82, 0.555);
}

.display_rating{
    text-align: left;
    border-left: 1px solid black;
    padding-left: 60px;
    padding-bottom: 100px;
}

.display_rating div{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 70px;
    color: #FFDF00;
}

.submitBtn{
    position: relative;
    left: 83%;
    top:20px;
    cursor:not-allowed;
    padding: 5px 20px;
    /* background-color: #FF6A6A; */
    background-color: #ff6a6a96;
    color: #F8F8F8;
    border: none;
    font-size: 20px;
    box-shadow: 0px 3px 5px rgba(83, 82, 82, 0.555);
}

#comment p{
    font-size:medium;
    color: rgb(90, 88, 88);
    font-weight: 500;
}

#comment p span{
    margin-left: 20px;
    font-size: large;
    color: black;
}

#your_rating{
    font-size: 30px;
    font-weight: 400;
    width: 80%;
    margin-top: 10px;
    padding: 30px 0;
}

#sponserForm{
    position: absolute;
    top:15%;
    left: 35%;
    background-color: #EF5DA8;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: flex-start;
    padding: 30px;
    width: 40%;
}

#sponserForm form{
    width: 100%;
}

#sponserForm p{
    font-size: 30px;
    font-weight: 300;
    padding: 10px 0;
}

.input_box{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
}
.input_box:focus{
    outline: none;
}
.input_box::placeholder{
    color: #4d4a4aa8;
}

#FormSponserBtn{
    padding: 10px 20px;
    margin: 30px 35%;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(146, 145, 145, 0.555);
    color: #f1479f;
    font-size:larger ;
}

